*{
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    border: none;
}

.homepage {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    display: grid;
    grid-template-rows: auto 1fr; /* Auto for header height, 1fr for the rest */
    grid-template-columns: auto 1fr; /* Auto for sidebar width, 1fr for main content */
}

.header {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}

.sidebar-container {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.home-main {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.light-mode {
    background-color: #d2e0e0f4;
    color: #333333;
}
  
.light-mode .container {
    background-color:#ffffff;
    color: #333333;
    border: 1px solid #cccccc; /* Add a 1px solid border with a light gray color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box-shadow for a 3D effect */
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.light-mode h1 {
    color: #333333;
}

.light-mode h2 {
    color: #333333;
}

.light-mode h3 {
    color: #333333;
}

.light-mode p {
    color: #000000;
}

.light-mode .clickable:hover {
    background-color: rgba(51, 51, 51, 0.2);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.dark-mode {
    background-color: #000000;
    color: #ffffff;
}

.dark-mode .container {
    background-color:#333333;
    color:#ffffff;
    border: 1px solid #cccccc; /* Add a 1px solid border with a light gray color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box-shadow for a 3D effect */
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.dark-mode h1 {
    color: #ffffff;
}

.dark-mode h2 {
    color: #ffffff;
}

.dark-mode h3 {
    color: #ffffff;
}

.dark-mode p {
    color: #cccccc;
}

.dark-mode .clickable:hover {
    background-color: rgb(255, 119, 0);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.light-mode .popup-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: black solid 1px;
    padding: 15px;
    gap: 20px;
}

.dark-mode .popup-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    border: black solid 1px;
    padding: 10px;
    gap: 10px;
}

.light-mode .popup-container h2 {
    color: black;
}

.popup-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 5px;
}

.light-mode .popup-container button {
    background-color: white;
    color: black;
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 100px;
}

.light-mode .popup-container button:hover {
    background-color: rgba(0, 98, 255);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.dark-mode .popup-container button {
    background-color: rgb(255, 81, 0);
    color: white;
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 100px;
}

.dark-mode .popup-container button:hover {
    background-color: rgb(255, 81, 0);
    box-shadow: 0px 4px 8px rgba(255, 253, 253, 0.499);
}

.disabled{
    pointer-events: none;
}