.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    height: 30px;
}

.logo-container {
    display: flex;
    gap: 10px;
    padding-bottom: 2px;
    width: 150px;
    height: 20px;
    align-items: center;
}

.logo {
    width: 26px;
    height: 26px;
    border: none;
}

.usericon {
    width: 26px;
    height: 26px;
    border: none;
}

.searchbar-container form {
    display: flex;
    align-items: center;
}
  
.searchbar-container input[type="text"] {
    width: 200px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.searchbar-container input[type="text"]:hover {
    border: 1px solid black;
}

.login-container {
    display: flex;
    gap: 5px;
    align-items: center;
}

.login-container button {
    border: none;
    border-radius: 10px;
    height: 30px;
    width: 80px;
}

.light-mode .login-container button {
    background-color: rgb(0, 98, 255);
    color: white;
}

.light-mode .login-container button:hover {
    background-color: rgba(0, 98, 255, 0.8);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.dark-mode .login-container button {
    background-color: rgb(255, 81, 0);
    color: black;
}

.dark-mode .login-container button:hover {
    background-color: rgb(255, 81, 0);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}