.main-content {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr; /* Auto for sidebar width, 1fr for main content */
}

.new-post-container { 
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
}

.new-post {
    border-style: none;
    outline-style: none;
    padding: 10px;
}

.filler-test {
    grid-row:1/2;
    grid-column: 1/2;
}

.display-posts {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.sort-buttons {
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sort-buttons button{
    border-style: none;
    outline-style: none;
    padding: 5px;
    width: 50px;
    border-radius: 5px;
}

.post-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.post-title:hover {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.dark-mode .post-title:hover {
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.878);
}

.post-item {
    max-width: 700px; /* Default max-width for the post-item */
    width: 100%; /* Ensure the item takes the full available width initially */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.dark-mode .post-item:hover{
    box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.878);
}

.post-item:hover {
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  }

.post-content {
    /* Add word-wrap and break-word properties to enable wrapping */
    word-wrap: break-word;
    overflow-wrap: break-word;
  
    /* Add margin and padding for spacing and appearance */
    margin-bottom: 10px;
    padding: 5px;
  }

.likes-and-title {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.post-likes {
    display: flex;
    flex-direction: column;
    width: 30px;
    align-items: center;
    padding-right: 10px;
}

.post-likes button {
    border-style: none;
    outline-style: none;
}

.post-likes button:hover {
    color: orange;
}

.post-owner {
    display: flex;
    gap: 10px;
}

.post-owner button {
    border-style: none;
    outline-style: none;
    padding: 5px;
    width: 50px;
    border-radius: 5px;
}

/* Add a media query for smaller screens */
@media screen and (max-width: 768px) {
    .main-content {
      grid-template-columns: 1fr 200px; /* Restore the original grid layout for larger screens */
    }
  
    .new-post-container {
      grid-row: auto;
      grid-column: auto;
    }
  }

.light-mode .main-content button:hover {
    background-color: rgba(51, 51, 51, 0.2);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.dark-mode .main-content button:hover {
    background-color: rgb(255, 115, 0);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
}